<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ hugo.Generator }}

    <title>{{ with .Title }}{{ . }} &#8212; {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ $style := resources.Get "css/style.scss" | resources.ToCSS }}
    {{ $screen := resources.Get "css/screen.scss" | resources.ToCSS }}
    {{ $print := resources.Get "css/print.scss" | resources.ToCSS }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="{{ $screen.RelPermalink }}" media="screen">
    <link rel="stylesheet" href="{{ $print.RelPermalink }}" media="print">

    {{ range .AlternativeOutputFormats }}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end }}

    {{ template "_internal/twitter_cards.html" . }}

  </head>
  <body>
    {{ if gt (len .Site.Menus.main) 0 }}
      {{ partial "navbar.html" . }}
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
