{{- define "main" -}}
<main class="container news">

  <h2>{{ .Title | markdownify }}</h2>
  {{ .Content }}


  {{ $pages := (where .Site.RegularPages "Type" "news").ByPublishDate.Reverse }}
  {{ if lt (len $pages) 1 }}
  Nothing here yet :(
  {{ else }}
  {{ range $pages }}

  <div class="news-item">
    <img src="{{ with .Params.icon }}{{ . | relURL }}{{ else }}{{ "img/newspaper.svg" | relURL }}{{ end }}">
    <article>
      <h3><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>

      {{ partial "time.html" . }}

      {{ .Summary | safeHTML }}

      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">Read more</a>
      {{ end }}

    </article>
  </div>

  {{ end }}
  {{ end }}

</main>
{{- end -}}
