@page {
  margin: 0;
}

body {
  margin: 2rem;
}

hr {
  visibility: hidden;
  page-break-after: always;
}

a[href]:not(.footnote-ref)::after {
  content: ' (' attr(href) ')';
}

#navbar,
footer,
a.footnote-backref,
a.header-link {
  display: none;
}

#hero h1 {
  span {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    width: 80vw;
    height: 20vw;
    background: no-repeat url('../img/logo.svg') center center / contain;
  }
}
