$bg-color: #000;
$fg-color: #E6D9FF;
$primary-color: #9affdd;
$primary-color-dark: #0C937F;
$accent-color: #3d147f;
$accent-color-brighter: #9173E5;
$accent-color-bright: #701DF2;
$accent-color-dark: #0D061C;

$warning-dark: #140412;
$warning-bright: #FF33A3;

@mixin mask-image($value) {
  -webkit-mask-image: $value;
  mask-image: $value;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  background: $bg-color;
  color: $fg-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.container {
  padding: 0 1rem;
}

a:any-link {
  color: inherit;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  a:any-link {
    text-decoration: none;
  }
}

a:hover {
  color: $accent-color-brighter;
}

th {
  border-color: rgba($fg-color, 0.5) !important;
}

td, hr {
  border-color: rgba($fg-color, 0.25) !important;
}

@mixin icon {
  display: inline-block;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
}

a.header-link {
  display: inline-block;
  font-size: 1rem;
  color: $primary-color;
  opacity: 0.25;

  span {
    display: none;
  }
  &::after {
    @include icon;
    @include mask-image(url('../img/ionicons/link-outline.svg'));
  }
  &:hover,
  &:focus {
    opacity: 1;
    outline: 0;
  }
}

a.footnote-backref {
  display: inline-block;
  color: $primary-color;
  opacity: 0.25;

  /* hide the unstyled back-arrow */
  width: 1em;
  height: 1em;
  overflow: hidden;

  &::before {
    @include icon;
    @include mask-image(url('../img/ionicons/return-up-back-outline.svg'));
  }
  &:hover,
  &:focus {
    opacity: 0.5;
    outline: 0;
  }
}

main.container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 60rem) {
  .container {
    width: 60rem;
    max-width: 100%;
    margin: auto;
  }
}

@media (min-width: 40rem) {
  #home {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;

    aside {
      border-left: 1px solid rgba($primary-color-dark, 0.25);
      padding-left: 1rem;

      #sponsor,
      #stream {
        border-top: 1px solid rgba($primary-color-dark, 0.25);
        padding-top: 1rem;
        img {
          margin-top: 0.5rem;
          display: block;
        }
      }

      #sponsor {
        margin-bottom: 1rem;
      }
    }
  }
}

#navbar {
  background: $accent-color-dark;
}

#navbar .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url('../img/logomark.svg');
    background-size: contain;
    margin: 0.25rem 0;
    span {
      display: none;
    }
  }

  summary {
    user-select: none;
    font-size: 2rem;
    cursor: pointer;

    color: $primary-color;

    .menu-toggle {
      display: flex;
    }

    &:hover .menu-toggle::after {
      color: $primary-color-dark;
    }

    .menu-toggle::after {
      @include icon;
      @include mask-image(url('../img/ionicons/menu-outline.svg'));
    }

    .menu-toggle span {
      display: none;
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: '';
    }
  }

  details[open] {
    .menu-toggle::after {
      @include mask-image(url('../img/ionicons/close-outline.svg'));
    }
  }

  details nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    background: $accent-color-dark;
    z-index: 1;
    ul {
      text-align: right;
    }
  }

  nav {
    font-size: 1.25rem;
    ul {
      list-style: none;
      padding: 0 1rem;
      a {
        text-decoration: none;
      }
    }
  }

  #inline-nav {
    display: none;

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: 2rem;

      li {
        display: inline;
      }
    }
  }
}

@media (min-width: 40rem) {
  #navbar {
    details {
      display: none;
    }

    #inline-nav {
      display: initial !important;
    }
  }
}

#hero {
  height: 40vw;
  min-height: 15rem;
  max-height: unquote("min(40rem, 60vh)");
  background:
    linear-gradient(transparent 50%, $accent-color-dark),
    url('../img/hero-bg.jpg') center center / cover fixed;

  h1 {
    width: 100%;
    height: 100%;
    margin: 0;

    span {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      width: calc(100% - 2rem);
      max-width: 58rem;
      margin: 0 auto;
      height: 100%;
      background: no-repeat url('../img/logo.svg') center center / contain;
    }
  }
}

.alert {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid transparent;
  margin-bottom: 1rem;

  .icon {
    padding: 0.125em;
    font-size: 1.5rem;
    &::after {
      @include icon;
    }
  }

  .content {
    padding: 1em;

    & :last-child {
      margin-bottom: 0;
    }
  }

  &.warning {
    background: $warning-dark;
    color: $warning-bright;

    .icon {
      background: $warning-bright;
    }
    .icon::after {
      @include mask-image(url('../img/ionicons/warning-outline.svg'));
      color: $warning-dark;
      margin: 0.25rem;
    }

    h1, h2, h3, h4, h5, h6,
    a.header-link {
      color: inherit;
    }
  }
}

@media (min-width: 40rem) {
  .alert {
    display: flex;

    .icon {
      padding: 0.25em;
      font-size: 2rem;
    }
  }
}

.button {
  display: block;
  text-align: center;
  padding: 0.5rem 2rem;
  background: rgba(#0C937F, 0.2);
  border: 2px solid #9affdd;
  color: #9affdd !important;
  border-radius: 3px;
  font-size: 1.75rem;
  text-decoration: none !important;
}

.button:not(.disabled) {
  cursor: pointer;
}

.button.disabled {
  user-select: none;
}

.button:not(.disabled):hover {
  background: #9affdd;
  color: #000 !important;
}

.button.warning {
  background: $warning-dark;
  border-color: $warning-bright;
  color: $warning-bright !important;
}

.news-item {
  display: flex;
  img {
    width: 4rem;
    height: 4rem;
    margin-top: 0.25rem;
    margin-right: 1rem;
  }
}

.avatar {
  background: url('../img/ionicons/person.svg') center no-repeat, #3d147f;
  background-size: 75%, auto;
}

.ical-link {
  margin-left: 0.5rem;
  span {
    display: none;
  }
  &::after {
    @include icon;
    @include mask-image(url('../img/ionicons/calendar-outline.svg'));
    color: $primary-color;
  }
  &:hover,
  &:focus {
    opacity: 0.5;
    outline: 0;
  }
}

footer {
  padding: 1rem 0;
  background: $accent-color-dark;
  color: $primary-color-dark;
  flex: 1;

  @media (min-width: 60rem) {
    .container {
      display: grid;
      gap: 1rem;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul#social {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;

    li {
      display: inline;
    }

    li a span {
      display: none;
    }

    li a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin: 0 1.25rem;
      color: $primary-color-dark !important;
    }

    li a:hover,
    li a:focus {
      color: $primary-color !important;
      outline: 0;
    }

    li a::after {
      @include icon;
    }

    li a[href*="demoparty.net"]::after {
      @include mask-image(url('../img/demoparty-net.svg'));
    }

    li a[href*="twitter"]::after {
      @include mask-image(url('../img/ionicons/logo-twitter.svg'));
    }

    li a[href*="facebook"]::after {
      @include mask-image(url('../img/ionicons/logo-facebook.svg'));
    }

    li a[href*="instagram"]::after {
      @include mask-image(url('../img/ionicons/logo-instagram.svg'));
    }
  }

  #copyright {
    text-align: center;
    color: $accent-color-bright;
  }

  a {
    color: inherit !important;
  }

  a:hover {
    color: $primary-color !important;
  }
}

.category-general,
.category-event,
.category-deadline,
.category-compos {
  color: #000;
}

.category-general {
  background: $fg-color;
}

.category-event {
  background: $primary-color;
}

.category-deadline {
  background: #ff2d85;
}

.category-compos {
  background: #fff500;
}
