{{ define "main" }}
<main class="container">

  <article>
    <h2>{{ .Title | markdownify }}</h2>

    {{ .Content }}

    {{ $pages := sort .Pages ".Params.date" "asc" }}
      {{ range (slice "2022-07-15" "2022-07-16") }}
      {{ $anchor := time.Format "Monday, January 2" . | anchorize }}
      <h3 id="{{ $anchor }}">{{ time.Format "Monday, January 2" . }} <a class="header-link" href="#{{ $anchor }}"><span class="link-icon">🔗</span></a></h3>
      <table class="calendar">
        <thead>
          <tr>
            <th>Time</th>
            <th>Category</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>

        {{ $date := time.Format "2006-01-02" . }}
        {{ range $pages.ByDate }}
          {{ if eq (time.Format "2006-01-02" (.Date.Add -7200000000000)) $date }}
          <tr>
            <td>
              <time {{ printf "datetime=%q" (time.Format "2006-01-02T15:04:05Z07:00" .Params.date) | safeHTMLAttr }}>
                {{ time.Format "15:04" .Params.date }}
              </time>
            </td>
            <td>
              {{ with .Params.Category -}}
              <div class="pill category-{{ . | lower | urlize }}">{{ . }}</div>
              {{ end }}
            </td>
            <td>
              {{ with .OutputFormats.Get "HTML" -}}
              <a href="{{ .RelPermalink }}">
              {{- end -}}
              {{- .Title | markdownify -}}
              {{- with .OutputFormats.Get "HTML" -}}
              </a>
              {{- end -}}

              {{- with .OutputFormats.Get "Calendar" -}}
              <a class="ical-link" {{ printf "href=%q" .Permalink | safeHTMLAttr }} title="Add to calendar"><span>Add to calendar</span></a>
              {{- end -}}
            </td>
          </tr>
          {{ end }}
      {{ end }}
        </tbody>
      </table>
    {{ end }}
  </article>
</main>
{{ end }}
