<footer>
  <ul id="social">
    {{ range .Site.Params.socials -}}
    <li><a href="{{ .URL }}"><span>{{ .Name }}</span></a></li>
    {{- end }}
  </ul>

  <div class="container">
    {{- range .Site.Menus.footer }}
    <section>
      <h6>{{ .Name }}</h6>
      <ul>
      {{ range .Children  }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </section>
    {{- end }}
  </div>

  <p id="copyright">
    {{ .Site.Copyright | markdownify }}
  </p>
</footer>
