<header id="navbar">
  <div class="container">
    <a href="{{ .Site.Home.RelPermalink }}"><h1><span>{{ .Site.Title }}</span></h1></a>

    <details>
      <summary>
        <div class="menu-toggle">
          <span>☰</span>
        </div>
      </summary>
      {{ partial "topnav.html" . }}
    </details>

    <div id="inline-nav">
      {{ partial "topnav.html" . }}
    </div>
  </div>
</header>
