{{ define "main" }}
<div style="position: relative">
  <video preload autoplay loop muted style="position: absolute; left:0; width: 100%; top:0; height: 100%; object-fit: cover;">
    <source src="{{ "vid/menace_the_sleepwalker.webm" | absURL}}" type="video/webm">
    <source src="{{ "vid/menace_the_sleepwalker.mp4" | absURL}}" type="video/mp4">
  </video>
  <div style="position: relative">
    <main class="container" style="text-align: center; height: 50vw; display: grid; align-content: center; text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000, 0 0 40px #000">
      <h1>404</h1>

      <p style="font-size: 1.5em;">
      Page not found! :(
      </p>

      <p>
      The requested page could not be found.
      </p>
    </main>
  </div>
</div>
{{ end }}
