{{ define "main" }}
<header id="hero">
  <h1><span>{{ .Site.Title }}</span></h1>
</header>

<main id="home" class="container">
  <article>
    {{ .Content }}
  </article>

  <aside>
{{ if .Site.Params.ticket_sale }}
    <p>
    <a href="https://fienta.com/black-valley-2022" class="button">Buy tickets</a>
    </p>
{{ else if .Site.Params.sold_out }}
  <p>
    <span class="button warning disabled">Sold out!</a>
  </p>
{{ end }}

    <h3 id="details">Details
      <a class="header-link" href="#details"><span class="link-icon">🔗</span></a>
    </h3>
    <h4 id="when">When</h4>
    <p><time datetime="2022-07-15">Friday 15th</time> to <time datetime="2022-07-16">Saturday 16th</time> of July 2022</p>

    <h4 id="where">Where</h4>
    <address>
      <ul>
        <li><a href="https://kruttverket.com/">Kruttverket</a></li>
        <li><a href="https://goo.gl/maps/3NHhVf64ozt9BYRU8">Arnljot Gellines Vei 41 B, 0657 Oslo</a></li>
      </ul>
    </address>

    <div id="sponsor">
      <h4>Sponsored by</h4>
      <a href="https://www.collabora.com/">
        <img alt="Collabora" src="img/collabora.svg">
      </a>
    </div>

    <div id="stream">
      <h4>Stream by</h4>
      <a href="https://scenesat.com/">
        <img alt="SceneSat" src="img/scenesat.svg">
      </a>
    </div>
  </aside>
</main>
{{ end }}
