<div id="error" class="alert warning" style="display: none">
  <div class="icon"></div>
  <div class="content">Failed to load data from demoparty.net. Please let us know about this
   problem! In the mean time, you can view or register
   <a href="https://www.demoparty.net/{{ .Get 0 }}">
     directly on demoparty.net</a>
</div>
</div>

<ul id="visitors">
</ul>

<script>
  function supportsEmojiChar(ch) {
    const ctx = document.createElement("canvas").getContext("2d");
    ctx.canvas.width = ctx.canvas.height = 1;
    ctx.fillText(ch, -4, 4);
    return ctx.getImageData(0, 0, 1, 1).data[3] > 0; // Not a transparent pixel
  }
  if (supportsEmojiChar("😊") && !supportsEmojiChar("🇨🇭")) {
    const style = document.createElement("style");
    style.textContent = `@font-face {
      font-family: "Twemoji Country Flags";
      unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
        U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
      src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2') format('woff2');
    }`;
    document.head.appendChild(style);
  }

  fetch('https://www.demoparty.net/{{ .Get 0 }}.jsonld')
  .then(response => {
    if (!response.ok)
      throw new Error("HTTP error " + response.status);
    return response.json();
  })
  .then(json => {
    var v = document.getElementById('visitors');
    json.attendee.forEach(a => {
      var li = document.createElement('li');

      if ('image' in a) {
        var img = document.createElement('img');
        img.src = a.image + '?d=blank';
        img.className = 'avatar';
        li.appendChild(img);
      }

      var link = document.createElement('a');
      link.href = a.mainEntityOfPage
      link.appendChild(document.createTextNode(a.name));
      li.appendChild(link);

      if ('address' in a) {
        var country = a.address.addressCountry;
        var flag = String.fromCodePoint(...country.split('').map(c => 0x1F1A5 + c.charCodeAt()));
        var span = document.createElement('span');
        span.className = 'flag';
        span.appendChild(document.createTextNode(flag));
        li.appendChild(span);
      }

      v.appendChild(li);
    })
  })
  .catch(error => {
    var e = document.getElementById('error');
    e.appendChild(document.createTextNode('Error message: ' + error));
    e.style.display = 'block';
  });
</script>

<noscript>
  <div class="error">
    <h3>JavaScript required!</h3>
    This feature requires JavaScript. Please visit
    <a href="https://www.demoparty.net/{{ .Get 0 }}/">this
    page</a> instead to see a list of visitors.
  </div>
</noscript>
